/* Put your CSS here */
.loading{
  background-image: url("../images/loader.gif");
  background-color: #fffffff;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 4;
}

.footer a{
  color: #1F8DD6;
}

#outlet{
  margin: 70px 0;
}

.page{
  margin: 1em;
}

a[data-toggle]{
  color: #1F8DD6;
  text-decoration: none;
}

a[data-toggle].active{
  color: black;
  text-decoration: underline;
}

[data-toggle-id]{
  display: none;
}

[data-toggle-id].active{
  display: block;
}

textarea.editor{
  min-height: 500px;
  height: 70%;
  width: 100%;
}