/* Put your CSS here */
.loading{
  background-image: url("../images/loader.gif") 
  background-color: #DFDFDF
}

.is-loaded .loading {
  /* back to default styling, e.g. */
  background-image: none
  background-color: white
}