<div class="page">
  <h1>{{properCase segment}} Stub - {{stub._id}}</h1>
  <div><a href="" data-toggle="view" class="active">View</a> <a href="" data-toggle="edit">Edit</a></div>
  <div data-toggle-id="view" class="active">
    <pre>{{JSONstringify stub}}</pre>
  </div>
  <form data-toggle-id="edit" class="pure-form" id="stub">
    <input type="hidden" name="name" value="{{name}}" />
    {{#notPrivate stub}}
    <textarea name="schema" class="editor">{{JSONstringify this}}</textarea>
    {{/notPrivate}}
    <button data-post-src="stub" data-post-to="/api/v1/stubs/{{segment}}/{{stub._id}}" class="pure-button">Save</button>
  </form>
</div>