<ul class="breadcrumb">
  <li><a href="#resources" class="active">Resources</a></li>
  <li><a href="#resource/stubs/{{segment}}">Stubs</a></li>
  <li><a href="#resource/stub/{{segment}}/{{stub._id}}">
    {{#if isNew}}
      New
    {{else}}
      {{stub._id}}
    {{/if}}
  </a></li>
</ul>
<div class="page w-breadcrumb">
  {{#if isNew}}
  {{else}}
    <button class="right pure-button pure-danger" data-after="#resource/stubs/{{segment}}" data-delete="/api/v1/stubs/{{segment}}/{{stub._id}}" id="delete"><i class="fa fa-bolt"></i> Delete</button>
  {{/if}}
  <h1>
    <div class="inlineblock">
      <div class="editswitch">
        <input type="checkbox" name="editing" class="editswitch-checkbox" id="editing" {{#if isNew}}checked{{else}}{{/if}}>
        <label class="editswitch-label" for="editing">
          <div class="editswitch-inner">
            <span class="on">Edit</span>
            <span class="off">View</span>
          </div>
        </label>
      </div>
    </div>
    {{properCase segment}} Stub -
    {{#if isNew}}
      New
    {{else}}
      {{stub._id}}
    {{/if}}
  </h1>
  <div data-toggle-id="view" {{#if isNew}}class=""{{else}}class="active"{{/if}}>
    <pre>{{JSONstringify stub}}</pre>
  </div>
  <form data-toggle-id="edit" action="/api/v1/stubs/{{segment}}/{{stub._id}}" {{#if isNew}}class="pure-form active"{{else}}class="pure-form"{{/if}}>
    <fieldset>
      <legend>Data:</legend>
      {{#notPrivate stub}}
      <textarea name="stub" class="editor">{{JSONstringify this}}</textarea>
      {{/notPrivate}}
    </fieldset>
    <fieldset>
      <button class="pure-button submit">Save</button>
    </fieldset>
  </form>
</div>